
* {
    box-sizing: border-box; 
}

.box {
    width: 100px;
    height: 100px;
    background: #ff1493;
    padding: 20px;
    border: 10px solid #0000ff;
}

    /* BOX SIZING *//* serve para tratar o tamanho da pagina */
/* 
    content-box ---> ele soma o elemento (tamanho + borda)
    order-box   ---> ele mantem o tamanho da pagina que foi informado no inicio */